In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [48]:
#df.groupby('race').count()
q1 = df['race'].value_counts()
#q1 = q1
q1.index
q1.values

q1

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [47]:
mask = df['sex'] == 'Male'
q2 = df[mask]
q2a = round(q2['age'].mean(),1)
q2a

39.4

In [46]:
mask = df['education'] == 'Bachelors'
q3_num = df[mask].shape[0]
q3_den = df.shape[0]
q3 = round(q3_num / q3_den * 100,1)
q3

16.4

In [68]:
mask = (((df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')) & (df['salary'] == '>50K'))
q4_num = df.loc[mask].shape[0]
mask2 = ((df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate'))
q4_den = df.loc[mask2].shape[0]
q4 = round(q4_num / q4_den * 100,1)
q4

46.5

In [67]:
mask = (((df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate')) & (df['salary'] == '>50K'))
q5_num = df.loc[mask].shape[0]
mask2 = ((df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate'))
q5_den = df.loc[mask2].shape[0]
q5 = round(q5_num / q5_den * 100,1)
q5

17.4

In [69]:
df['hours-per-week'].min()

1

In [70]:
mask = ((df['hours-per-week'] == df['hours-per-week'].min()) & (df['salary'] == '>50K'))
q6_num = df.loc[mask].shape[0]
mask2 = (df['hours-per-week'] == df['hours-per-week'].min())
q6_den = df.loc[mask2].shape[0]
q6 = round(q6_num / q6_den * 100,1)
q6

10.0

In [171]:
mask = ((df['salary'] == '>50K'))
q7_num = df[mask][['native-country','salary']].value_counts()
mask2 = ((df['salary'] != '>50K'))
q7_den = df.loc[mask2][['native-country','salary']].value_counts()
#q7 = round(q7_num / q7_den * 100,1)
q7_num1 = q7_num.to_frame().reset_index().set_axis(['native-country','salary','rich'], axis = 'columns')
q7_num2 = q7_den.to_frame().reset_index().set_axis(['native-country','salary','poor'], axis = 'columns')

#q7_combo = q7_num1.join(q7_num2)
q7_combo = pd.merge(q7_num1,q7_num2,left_on = 'native-country', right_on = 'native-country')
q7_combo['rich_per'] = (q7_combo['rich'] / (q7_combo['rich'] + q7_combo['poor'])) * 100

max_country = q7_combo[q7_combo['rich_per'] == q7_combo['rich_per'].max()]
max_country['native-country'].values
round(q7_combo['rich_per'].max(),1)

41.9

In [167]:
mask = ((df['salary'] == '>50K') & (df['native-country'] == 'India'))
job_list2 = df[mask][['occupation']].value_counts().head(1)
job_list = job_list2.to_frame().reset_index().set_axis(['occupation','qty'], axis = 'columns')
jl = job_list['occupation'].values
jl

array(['Prof-specialty'], dtype=object)